

* {
    box-sizing: border-box;
    
}

body {
    background: whitesmoke;
    margin: 0 auto;
    max-width: 768px;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}
.main-header {
    background: rgba(6,65,90);
    padding: 25px 0;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
h1 {
    font-size: 1.25em;
    color: rgba(6,65,90);
    text-align: center;
}

h2 {
    color: rgba(6,65,90)
}
p {
    margin: 5px 10px;
    padding: 0 15px 40px;
    border-bottom: 5px solid rgba(6,65,90);
    text-align: center;
}
legend {
    width: 100%;
    padding: 20px 5px 0;
    border-top: 3px solid;
    color: rgba(6,65,90);
    font-size: 1.5em;
    font-weight: bold;
}
footer {
    text-align: center;
    font-weight:100;
}
fieldset {
    border: none;
}


.contact-info .flex-pair {
    display: flex;
    flex-direction: column;
  }


input {

    width: 100%;
    margin: 5px 0;
    padding: 8px;
    font-size: 18px;
    color: #333;
    font-family: 'Nunito', sans-serif;
} 

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    width: auto;
    margin: 10px 15px 15px 5px;
    font-size: 18px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
select:hover,
textarea:hover {
    background-color:ghostwhite;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border: 2px solid #47596e;
}


::placeholder {
    text-align: end;
    padding-right: 15px;
    font-style: italic;
    font-size: 15px;
}
 select {
     
     width: 100%;
     margin: 15px 0;
     padding: 8px;
     font-size: 18px;
     color: rgb(156, 152, 152);
 }

textarea {
    width: 100%;
    height: 100px;
    margin-top: 15px;
    border: 1px solid #1b385a;
    border-radius: 5px
}
#zip {
    max-width: 50%;
}

button:hover {
    border: 2px solid #0c0909;
}
button {
    background-color: #24d7c9;
    border: 2px solid #24d7c9;
    color: white;
    width: 100%;
    padding: 15px 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}


@media(min-width:768px) {

.contact-info .flex-pair {
    flex-direction: row;
    margin: 0 auto;
}

.contact-info input,
.contact-info select {
    flex-grow: 1;
    flex-basis: 75%;
}
.contact-info label {
    flex-basis: 25%;
    margin: auto 0;
}
form,
.sign-up {
    margin: 0 auto;
    width: 70%;
}
.main-header {
    margin-bottom: 20px;
}
#zip {
    max-width: 25%;
} 
footer {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}

}



